<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #f3efff">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="tertiary"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: #2b1d52; font-weight: 800">Analysis</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToReports()" color="tertiary" routerLink="reports" defaulthref="reports">
        <ion-icon name="document-text-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #f3efff">
  <div class="ion-padding">
    
    <div class="chart-container">
      <div class="chart-header">
        <h3>Spending Breakdown</h3>
        <p>Visualizing your top categories</p>
      </div>
      
      <div class="canvas-wrapper">
        <canvas id="expenseChart"></canvas>
      </div>
    </div>

    <div style="margin-top: 25px;">
      <p style="color: #9e94ba; font-weight: 600; font-size: 0.8rem; text-transform: uppercase; padding-left: 10px;">
        Category Details
      </p>
      
      <ion-list lines="none" style="background: transparent;">
        <ion-item *ngFor="let label of chartLabels; let i = index" class="category-item">
          <div slot="start" class="color-dot" [style.background]="chartColors[i]"></div>
          <ion-label>
            <h2>{{ label }}</h2>
          </ion-label>
          <ion-note slot="end" color="dark" style="font-weight: 700;">
            ₹{{ chartValues[i] | number:'1.0-0' }}
          </ion-note>
        </ion-item>
      </ion-list>
    </div>

  </div>
</ion-content>