
<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-buttons slot="start" *ngIf="isSelectionMode">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ isSelectionMode ? 'Select ' + selectedType : 'Categories' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding category-page">
  <ion-segment *ngIf="!isSelectionMode" [(ngModel)]="selectedType" mode="ios">
    <ion-segment-button value="expense">
      <ion-label>Expense</ion-label>
    </ion-segment-button>
    <ion-segment-button value="income">
      <ion-label>Income</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let category of filteredCategories">
        <ion-card class="category-card" (click)="openCategoryPopup(category)">
          <div class="card-content">
            <ion-icon [name]="category.icon"></ion-icon>
            <p>{{ category.name === 'Others' ? 'Add Category' : category.name }}</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>